:root {
  --clr-primary-400: hsl(158, 386%, 37%);
  --clr-secondary-200: hsl(30, 38%, 92%);

  --clr-neutral-800: hsl(212, 21%, 14%);
  --clr-neutral-400: hsl(228, 12%, 48%);
  --clr-neutral-100: hsl(0, 0%, 100%);

  /* font family */
  --ff-accent: 'Fraunces', serif;
  --ff-base: 'Montserrat', sans-serif;

  /* font weight */
  --fw-regular: 500;
  --fw-bold: 700;
}

/* css reset */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  min-height: 100%;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
  min-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1 {
  overflow: break-word;
}

img {
  display: block;
  max-width: 100%;
}

/* css reset */
