/* css reset */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html {
  height: 100%;
  width: 100%;
}

body {
  min-height: 100%;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
  min-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1 {
  overflow: break-word;
}

img {
    display: block;
    width: 100%;
    max-width: 600px;
}

/* css reset */
