

/* css-reset */
@import 'typography.css';

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/* css reset */

:root {
  /* background svg */
  --first-bg-mobile: url("./background-pattern-desktop.svg");
  --first-bg-desktop: url("./background-pattern-mobile.svg");

  /* icons */
  --icon-minus: url("FAQ-Accordion\public\icon-minus.svg");
  --icon-plus: url("FAQ-Accordion\public\icon-plus.svg");
  --icon-star: url("FAQ-Accordion\public\icon-star.svg");


}

body {
  font-family: "WorkSans", sans-serif;
  font-size: var(--fs-body);
  font-style: normal;
  font-weight: normal;
}

.header {
  font-family: "Work Sans";
  color: var(--fc-primary);
}