/* css-reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html {
  height: 100%;
  width: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-size: var(--fs-body);
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/* css reset */

:root {
  /* background svg */
  --first-bg-mobile: url("./background-pattern-desktop.svg");
  --first-bg-desktop: url("./background-pattern-mobile.svg");

  /* icons */
  --icon-minus: url("FAQ-Accordion\public\icon-minus.svg");
  --icon-plus: url("FAQ-Accordion\public\icon-plus.svg");
  --icon-star: url("FAQ-Accordion\public\icon-star.svg");

  /* typography */
  --ff-body: var("--font-worksans-regular");

  /* font size */
  --fs-sm: 0.875rem;
  --fs-md: 1rem;
  --fs-lg: 2rem;
  --fs-xl: 3.125rem;

  --fs-body: var(--fs-sm);
  --fs-header: var(--fs-xl);
  --fs-title: var(--fs-md);
  --fs-paragraph: var(--fs-md);

  /* font weight */
  --fw-md: 400;
  --fw-semibold: 600;

  /* colors */
  --white: hsl(0, 0%, 100%);
  --light-pink: hsl(275, 100%, 97%);
  --grayish-purple: hsl(292, 16%, 49%);
  --dark-purple: hsl(292, 42%, 14%);

  --fc-primary: var(--dark-purple);
  --fc-secondary: var(--grayish-purple);
}

body {
  font-family: "WorkSans", sans-serif;
  font-size: var(--fs-body);
  font-style: normal;
  font-weight: normal;
  background-color: var(--light-pink);
  position: relative;
  min-height: 100%;

  /* flex */
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 33.33%;
  background-image: url("public/background-pattern-desktop.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 0;
}

.container {
  position: relative;
}

.container__header {
  font-family: "Work Sans";
  color: var(--fc-primary);
  font-size: var(--fs-header);
}

.container__description {
  color: var(--fc-primary);
  font-size: var(--fs-title);
  font-weight: var(--fw-semibold);
}
